platform/n8n/workflows/deployment/prod-approval.json
{
  "name": "Production Deployment Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "argocd-sync-hook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"metadata\"][\"namespace\"]}}",
              "operation": "endsWith",
              "value2": "-prod"
            }
          ]
        }
      },
      "name": "Is Production?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "#platform-approvals",
        "text": "=:rocket: *Production Deployment Request*\n\n*Application:* {{$json[\"body\"][\"metadata\"][\"name\"]}}\n*Namespace:* {{$json[\"body\"][\"metadata\"][\"namespace\"]}}\n*Requested by:* {{$json[\"body\"][\"spec\"][\"source\"][\"targetRevision\"]}}\n\nPlease approve or reject this deployment.",
        "attachments": [],
        "otherOptions": {
          "includeLinkToWorkflow": false
        },
        "blocksUi": {
          "blocksValues": [
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "Approve"
                  },
                  "style": "primary",
                  "value": "approve_{{$json[\"body\"][\"metadata\"][\"name\"]}}"
                },
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "Reject"
                  },
                  "style": "danger",
                  "value": "reject_{{$json[\"body\"][\"metadata\"][\"name\"]}}"
                }
              ]
            }
          ]
        }
      },
      "name": "Slack Approval Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [650, 200],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Platform Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interaction",
        "responseMode": "onReceived"
      },
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"actions\"][0][\"value\"]}}",
              "operation": "startsWith",
              "value2": "approve_"
            }
          ]
        }
      },
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "=https://argocd.platform.example.com/api/v1/applications/{{$json[\"appName\"]}}/sync",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prune",
              "value": "true"
            }
          ]
        }
      },
      "name": "Sync ArgoCD App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "ArgoCD Token"
        }
      }
    },
    {
      "parameters": {
        "channel": "#platform-deployments",
        "text": "=:white_check_mark: *Deployment Approved*\n\n*Application:* {{$json[\"appName\"]}}\n*Approved by:* {{$json[\"user\"]}}\n*Status:* Syncing..."
      },
      "name": "Notify Approved",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1450, 100],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Platform Bot"
        }
      }
    },
    {
      "parameters": {
        "channel": "#platform-deployments",
        "text": "=:x: *Deployment Rejected*\n\n*Application:* {{$json[\"appName\"]}}\n*Rejected by:* {{$json[\"user\"]}}"
      },
      "name": "Notify Rejected",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Platform Bot"
        }
      }
    },
    {
      "parameters": {
        "channel": "#platform-deployments",
        "text": "=:rocket: *Auto-Deploying to Non-Production*\n\n*Application:* {{$json[\"body\"][\"metadata\"][\"name\"]}}\n*Namespace:* {{$json[\"body\"][\"metadata\"][\"namespace\"]}}"
      },
      "name": "Non-Prod Auto Deploy",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Platform Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Production?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Production?": {
      "main": [
        [
          {
            "node": "Slack Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-Prod Auto Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Approval Request": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Sync ArgoCD App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync ArgoCD App": {
      "main": [
        [
          {
            "node": "Notify Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "deployment"
    },
    {
      "name": "approval"
    }
  ]
}
